
.pageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
}

.title {
  color:#FFBD69;
  font-size: 5em;
  line-height: 1.1;
  font-family: "Bebas Neue", sans-serif;
  text-align: center;
}

.socialLinks {
  display: flex;
  gap: 25px;
  margin-bottom: 40px;
}

.socialIcon {
  color: #cdd5e0;
  font-size: 2rem; /* İkon boyutu */
  transition: all 0.2s ease-in-out;
}

.socialIcon:hover {
  color: #FFBD69;
  transform: scale(1.2);
}